#carri {
    display: block;
    width: 30%;
    margin: auto;
  }
#coleman {
    display: block;
    width: 30%;
    height: 50%;
    margin: auto;
  }
#usain {
    display: block;
    width: 50%;
    height: 50%;
    margin: auto;
  }

h2 {
    font-family: cursive;
    font-size: 50px;
    border-style: solid;
    border-width: medium;
}
.left {
    text-align: left;
    color: Orange;
    background-color: black;
}
tr.T_header {
    font-family: cursive;
    font-size: 40px;

}
p, thead {
    color: black;
}
